@import url("styles.css");

.features-container{
  background:#323232;
  position:relative;
  z-index:0;
  overflow: hidden;
}
.features{
  min-height: 90vh;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;

}
.wave{
  position:absolute;
  left:0;
  bottom:-25%;
  width:100%;
  z-index:-1;
}
.cards{
  display: flex;
  justify-content: space-between;
  color:black;
}
.card{
  background:white;
  margin:0rem 5rem;
  display: flex;
  flex-direction: column ;
  text-align:  center;
  border-radius: 2rem;
  overflow:hidden;
}
h4{
  margin:2rem 0rem;
}
p{
  padding:2rem;
}
img{
  object-fit: cover;
}
